<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-center text-5xl font-bold">Inicia Sesión ahora!</h1>
      <p class="py-6">Accede para gestionar tu portafolio o agendar asesorías con expertos.</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <div class=" text-center form-control mt-6">
          <button class="btn btn-primary">Ingresar con Google</button>
        </div>
        <div class="divider"></div>
        <p class="text-center text-sm text-gray-500">Solo acceso autorizado</p>
      </div>
    </div>
  </div>
</div>