<div class="navbar bg-base-100 shadow-md fixed top-0 w-full z-50">
  <div class="flex-1">
    <a routerLink="/home" 
    (click)="irInicio()"
    class="btn btn-ghost text-xl">Portafolio</a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/home" (click)="irInicio()">Inicio</a></li>
      <li><a routerLink="/programadores">Programadores</a></li>
      <li><a routerLink="/asesorias">Asesorías</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </div>
</div>

