main {
  animation: fadeIn 0.4s ease-in-out;
}

.card-title {
  justify-content: center;
}

@media (min-width: 768px) {
  .card-title {
    justify-content: flex-start;
  }
}

.form-control label span {
  color: #374151;
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
